<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.denobili.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="android.permission.READ_SMS" />
     <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="com.denobili.app.helper_utils.Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme,android:label">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.denobili.app.invoice.payment.HomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name="com.denobili.app.invoice.payment.EFragmentActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.denobili.app.invoice.payment.FLSimpleActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.denobili.app.invoice.payment.FExtendedActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.denobili.app.landing_page.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="com.denobili.app.invoice.trans_detail.TransDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.denobili.app.landing_page.Home2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.denobili.app.invoice.invoice_detail.InvoiceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.denobili.app.slide_login.LoginMainActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helper_utils.ProductListActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.denobili.app.invoice.InvoiceListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"  />
        <activity
            android:label="Processing your payment"
            android:name="in.juspay.godel.PaymentActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity
            android:name="com.denobili.app.landing_page.SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.landing_page.AccountOption"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.sign_step.SignupMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.landing_page.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name="com.denobili.app.homepage.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.denobili.app.studentDetailPage.StudentDetailPage" />
        <activity
            android:name="com.denobili.app.studentDetailPage.StudentDetailEditPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.attendancePage.AttendanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.postAttendancePage.AttendenceSelectionListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name="com.denobili.app.mystudentsPage.MyStudentsListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.loginPage.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.signUpPage.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.denobili.app.splashPage.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.denobili.app.addSocialGrade.AddSocialGradePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.socialGradeSelectionPage.SocialGradeSelectionPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name="com.denobili.app.templatePage.TemplateSelectionPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.denobili.app.studentHomePage.Student_Home_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.smsCommunicationSettingPage.SmsCommunicationSettingPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.smsCommunicationSettingPage.MessageCommunicationSettingPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.emailSettingPage.EmailSettingPage"
            android:label="@string/email_communication_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.studentCodePage.InputStudentCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name="com.denobili.app.helper_utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.denobili.app.helper_utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.denobili.app.teacherHomePage.TeacherHomePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.classEditPage.EditClassPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.mySocialGradesPage.MySocialGradesListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name="com.denobili.app.addTemplatePage.AddTemplatePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.forgotPasswordPage.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name="com.denobili.app.otpReaderLibrary.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.denobili.app.myConnectedStudents.MyConnectedStudentsListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.studentDiaryPage.StudentDiaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.studentallEventsPage.AlleventsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.studentEventDetailPage.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.classroom.join.app"
                    android:pathPrefix="/id"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.denobili.app.studentDiaryEventDetailPage.DiaryEventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.studentInboxPage.StudentInboxPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />
        <activity
            android:name="com.denobili.app.studentSocialGradeReportPage.StudentSocialGradeReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherReportPage.TeacherReportPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherCommunicationReports.TeacherCommunicationReportPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.attendanceSummaryPage.AttendanceSummaryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherSocialGradeReport.SocialGradeClassReportPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.ReportsMessageDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherMessageSendPage.TeacherCommunicationPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.denobili.app.manageAccountsPackage.ManageAccountsPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.profilePage.ProfilePage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTest" />
        <activity
            android:name="com.denobili.app.attendancePage.ParentAttendanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherOutboxPage.Outboxpage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherAttachmentPage.ImageChooserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.teacherAttachmentPage.DocumentChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.denobili.app.profileEditPage.ProfileEditPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.profileEditPage.ProfileImageChooserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.denobili.app.studentSearchPage.StudentSearchPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.denobili.app.loadWebPage.WebPage"
            android:label="@string/nav_back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.new" />

        <service
            android:name="com.denobili.app.helper_utils.CheckOutboxService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.denobili.app.outboxExpiredPage.OutboxExpiredPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.denobili.app.splashPage.LanguageSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>